.resp{
  margin-left: 5rem;
  color: #000000;
  font-family:'Libre Baskerville', serif;
  font-size: 125%;
  opacity: 0.83;

}

.respC{
  margin-left: 6rem;
  color: #000000;
  font-family:'Libre Baskerville', serif;
  font-size: 200%;
  opacity: 0.83;
  text-decoration: underline;
}
