

.resp{
  margin-left: 7rem;
  color: #000000;
  font-family:'Libre Baskerville', serif;
  font-size: 185%;
  opacity: 0.83;
}

.exp{
  margin-left: 9rem;
  color: #000000;
  font-family:'Libre Baskerville', serif;
  font-size: 175%;
  opacity: 0.83;
}
