.side-drawer {
  height: 100%;
  background: #FDFFFC;
  box-shadow: 7px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 5;
  left: 0;
  Width: 70%;
  max-width: 400px;
  z-index: 200;
}

.side-drawer ul{
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer a{
  color: #FFA400;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #CBD2D0;
}
