.Navbar{
  position: fixed;
  top:0;
  left:0;
  bottom:90.3%;
  width: 100%;
  background:#FFFFFE;

  height:75;
}

.Navbar_nav{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 1rem;
}
.Navbar_logo {
  margin-left: 3rem;

}
.Navbar_logo a {
  font-family: 'Signika', sans-serif;
  color: #FFA400;

  text-decoration: none;
  font-size: 2.4rem;
}
.spacer {
  flex: 1;
}
.Navbar_items li{
  font-family: 'Poppins', sans-serif;
  color:#000000;
  text-decoration: none;
}

.Navbar_items li:hover,
.Navbar_items li:active {
  color: #FFFFFE;
}

.Navbar_items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar_items li{
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 5px;
  background: #E2E9E5;
  padding: .5rem 1rem;
}
