.Navbar{
  position: fixed;
  top:0;
  left:0;
  bottom:90.3%;
  width: 100%;
  background:#FDFFFC;

  height:75;
}

.Navbar_nav{
  display: flex;
  align-items: center;
  height:100%;
  padding: 0 1rem;
}
.Navbar_logo {
  margin-left: 1rem;

}
.Navbar_logo a {
  font-family: 'Signika', sans-serif;
  color: #FFA400;

  text-decoration: none;
  font-size: 2rem;
}
.spacer {
  flex: 1;
}
.Navbar_items a{
  font-family: 'Poppins', sans-serif;
  color:#000000;
  text-decoration: none;
}

.Navbar_items a:hover,
.Navbar_items a:active {
  color: #E2E9E5;
}

.Navbar_items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.Navbar_items li{
  padding: 0 0.5rem;
}
